<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <link rel="stylesheet" href="css/standby.css">
        <nav class="navbar navbar-dark bg-dark" id="headerBar">
            <span class="navbar-brand" id="headerText">Standby Room </span>
        </nav>
        <main class="bd-content p-3" id="main" role="main">
            <div class="d-flex flex-row">
                <h5>Room Pass :&nbsp;&nbsp; </h5><h5 id="roomPass">{{roomPass}}</h5>
            </div>
            <div class="index-box">
                {% for i in range(1,5) : %}
                    <div class="index">
                        <h1>{{i}}.</h1>
                    </div>
                {% endfor %}
            </div>
            <div class="players-box">
            {% for player in players : %}
                <div class="players">
                    <h1>{{player}}</h1>
                </div>
            {% endfor %}
            </div>
            
            <!-- <form action="/home" method="POST">
                <input type="hidden" name="roomPass" value="{{roomPass}}">
                <button type=“submit” >exit</button>
            </form> -->
        </main>
        <button class="return-button" type=“button” onclick="let roomPass=document.getElementById('roomPass').textContent;  sendData( {roomType:'exit', roomPass:roomPass} ); location.href='/home';">
            <svg class="return-svg" version="1.1" id="_x31_0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                    <path class="st0" d="M333.653,41.349H48.769c-7.187,0-13.031,5.848-13.031,13.027v62.129c0,7.184,5.844,13.028,13.031,13.028
                        h286.223c45.484,0,84.328,34.156,88.43,77.758c2.313,24.539-5.516,48.051-22.039,66.199
                        c-16.305,17.918-39.508,28.191-63.645,28.191H199.769V230.76c0-5.386-4.382-9.77-9.774-9.77c-1.859,0-3.683,0.531-5.25,1.539
                        L4.523,337.525C1.695,339.322,0.004,342.4,0,345.752c-0.004,3.352,1.684,6.434,4.512,8.242L184.75,469.119
                        c1.574,1.004,3.39,1.532,5.246,1.532c5.391,0,9.774-4.383,9.774-9.77v-71.016h137.969c47.727,0,92.294-18.988,125.489-53.465
                        c33.176-34.45,50.449-79.73,48.645-127.504C508.379,116.509,428.43,41.349,333.653,41.349z" ></path>
                </g>
            </svg>
            exit
        </button>
        
        <script type="text/javascript">
            history.pushState(null, null, null);
            // 戻るボタン押下でイベント発動
            window.addEventListener("popstate", function() {
            // 確認メッセージ表示
            window.onbeforeunload = function(e) {
            return 'このページから離れますか？';
            };
            history.go(1);
            history.pushState(null, null, null);
            });

            function sendData(data) {
                const XHR = new XMLHttpRequest(),
                        FD  = new FormData();

                // データを FormData オブジェクトに投入
                for(name in data) {
                    FD.append(name, data[name]);
                }

                // データが正常に送信された場合に行うことを定義
                XHR.addEventListener('load', function(event) {
                    // this　にレスポンスが入る
                    if (this.response != ''){
                        let response = this.response;
                        // 保存しておいた以前の結果を読み出し
                        var pre_players = sessionStorage.getItem("pre_players");
                        if (response != pre_players){
                            // レスポンスを保持
                            sessionStorage.setItem("pre_players", response);
                            const form = document.createElement('form');
                            form.method = "POST";
                            form.action = "/standby";

                            const name_list = ['roomType', 'roomPass'];
                            const value_list = ['reload', data['roomPass']];
                            for (i=0; i<2; i++){
                                const hiddenField = document.createElement('input');
                                hiddenField.type = 'hidden';
                                hiddenField.name = name_list[i];
                                hiddenField.value = value_list[i];

                                form.appendChild(hiddenField);
                            }
                            document.body.appendChild(form);
                            form.submit();
                        }
                        // 人数が４人になった場合
                        else if (Object.keys(JSON.parse(response)).length == 4){
                            console.log(data["roomPass"])
                            window.location.href = "/game?roomPass=" + data["roomPass"]
                        }
                    }
                });

                // エラーが発生した場合に行うことを定義
                XHR.addEventListener('error', function(event) {
                    console.log('Oups! Something goes wrong.');
                });

                // リクエストをセットアップ
                XHR.open('POST', '/standby');

                // FormData オブジェクトを送信するだけです。HTTP ヘッダは自動的に設定
                XHR.send(FD);
            }

            // ２秒毎にデータベースの変更をチェック
            setInterval(()=>{
                let roomPass = document.getElementById('roomPass').textContent; 
                console.log(roomPass);
                sendData( {roomType:'check', roomPass:roomPass} );
            }, 2000)


        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    
</html>
